img {
    width: 550px;
    }
.button-color {
    color: oldlace;
}
nav {
    padding: 20px;
    word-spacing: 10px;
    background-color: black;
}

body {
    background-color: rgb(58, 58, 58);
    color: oldlace;
    font-family: verdana, sans-serif;
}
.hz-logo {width: 200px;}
*{margin: 0;
padding: 0;
}
#sidebar{position: fixed;
width: 20%;
right: 0;
top: 100;
height: 100%;
background-color: white;
}
h1{padding: 10px}
h2{padding: 10px;}
#sidebar ul{color: black;
font-size: 25px;
margin: 30px;
border-bottom: black;
text-align: center;
top: 35%;
position: fixed;}
li{position: relative;}
table {
    font-family: verdana, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: white;
 color: black; }
 .kolom-cijfer{background-color: rgb(58,58,58);}